<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>

<h1>Cars List</h1>
<table border="1">
    <thead>
    <tr>
        <th>Model</th>
        <th>Production Jear</th>
        <th>Driver name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.model}"></td>
        <td th:text="${car.produced}"></td>
        <td th:text="${car.driver}"></td>
    </tr>
    </tbody>
</table>

<p> </p>
<a href="/">Hello page</a>
</body>
</html>